certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
ConfigArgParse==0.12.0
cvxopt==1.2.7
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
en-core-web-md==1.2.1
en-core-web-sm==1.2.0
ftfy==4.4.3
html5lib==0.999999999
idna==2.6
inflect==0.2.5
isodate==0.5.4
-e git+https://github.com/garydoranjr/misvm.git@aff618f39f1e4015c9557a3b744f4bfeb0abd7ce#egg=misvm
murmurhash==0.26.4
numpy==1.13.3
ontospy==1.8.6
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
pyfiglet==0.7.5
PyMySQL==0.7.11
pyparsing==2.2.0
rdflib==4.2.2
rdflib-jsonld==0.4.0
regex==2017.9.23
requests>=2.20.0
scikit-learn==0.19.0
scipy==0.19.1
six==1.11.0
spacy==1.9.0
SPARQLWrapper==1.8.0
SQLAlchemy==1.1.14
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.19.2
ujson==1.35
urllib3==1.24.2
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
